body{
   background-image: url("../img/rick_and_morty_fondo.jpg") ; 
}
.App {
   text-align: center;
   
}
.card{
   display: inline-block;
   margin-left: 15px;
   position: relative;
}

.imagen{
   border-radius: 5px;
   border: 5px solid black;
}

.boton{
   background-color: red;
   color: white;
}
h2{
   margin:2px;
   
}


